.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F9FA;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.greeting {
    /* display: flex; */
    min-height: 200px;
    width: 700px;
    padding: 20px;
    text-align: left;
}

.d-flex {
    display: flex;
}

.card {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
    transition: box-shadow 0.2s ease 0s;
}

.card:hover {
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px;
}

.main {
    font-size: 26px;
    margin-bottom: 20px;
}

.sub {
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}

.skill {
    /* background: #29292e; */
    background: rgb(40, 44, 52);;
    font-size: 16px;
    color: #eff0f9;
    margin: 30px 0;
    padding: 20px;
    border-radius: 5px;
}

.code-1 {
    color: #a6e22e
}

.code-2 {
    color: #f92672;
}

.code-3 {
    color: #66d9ef
}

.code-4 {
    color: #ae81ff
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.text {
    margin-left: 40px;
    margin-top: 20px;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 40px;
    justify-content: flex-end;
}

.content {
    margin-top: 200px
}

.button {
    background-color: #e3f0f3;
    color: #4a6f75;
    border-radius: 0px;
    padding: 15px 20px;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

a {
    text-decoration: none;
    color: inherit;
}