*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: #F8F9FA;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}


a {
    text-decoration: none;
    color: inherit;
}


.greeting {
    min-height: 200px;
    width: 700px;
    padding: 20px;
    text-align: left;
}

.greet {
    display: flex;
}

.projects {
    margin: 50px 0;
}

.project {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.title-container {
    background: #EEEAF9;
    color: #9980FA;
}

.card {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
    transition: box-shadow 0.2s ease 0s;
}

.card:hover {
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px;
}

.main {
    font-size: 26px;
    margin-bottom: 20px;
}

.sub {
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}

.skill {
    background: rgb(40, 44, 52);
    border: 2px solid rgb(40, 44, 52);
    font-size: 16px;
    color: #eff0f9;
    margin: 30px 0;
    padding: 20px;
    border-radius: 5px;
}

.skill:hover {
    border: 2px solid #f4a460
}

.code-1 {
    color: #a6e22e
}

.code-2 {
    color: #f92672;
}

.code-3 {
    color: #66d9ef
}

.code-4 {
    color: #ae81ff
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.project_image {
    vertical-align: middle;
    width: 330px;
    height: 230px;
    border-radius: 5%;
}

.text {
    margin-left: 40px;
    margin-top: 20px;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 40px;
    justify-content: flex-end;
}

.left-btn {
    margin-right: 20px;
}

.content {
    margin-top: 200px
}

.button {
    background-color: #e3f0f3;
    color: #4a6f75;
    border-radius: 0px;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.title-container {
    margin: 20px 0;
    padding: 20px;
}